<a href="https://colab.research.google.com/github/lovepreetmultani/python/blob/main/Practice_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [6]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
d

{'a': 10, 'b': 20, 'c': 30}

In [11]:
labels

['a', 'b', 'c']

In [12]:
s1=pd.Series([1,2,3,4],['usa','germany','italy','japan'])
s1

usa        1
germany    2
italy      3
japan      4
dtype: int64

In [13]:
s1['usa']

1

In [14]:
np.random.seed(101)

In [21]:
df=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [22]:
df['W']

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [24]:
type(df['W'])

pandas.core.series.Series

In [25]:
type(df)

pandas.core.frame.DataFrame

In [27]:
df[['W','Z']]

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
C -1.005187 -0.732845
D -1.382920 -2.141212
E  0.992573  1.292765

In [29]:
df['new']=df['X']+df['Y']
df

          W         X         Y         Z       new
A  0.386030  2.084019 -0.376519  0.230336  1.707500
B  0.681209  1.035125 -0.031160  1.939932  1.003965
C -1.005187 -0.741790  0.187125 -0.732845 -0.554665
D -1.382920  1.482495  0.961458 -2.141212  2.443954
E  0.992573  1.192241 -1.046780  1.292765  0.145461

In [33]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [38]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [40]:
 df[['W','X']]

          W         X
A  0.386030  2.084019
B  0.681209  1.035125
C -1.005187 -0.741790
D -1.382920  1.482495
E  0.992573  1.192241

In [ ]:
df.loc['']